/backend/uploads
/backend/dataset/sd/*
/backend/__pycache__/
/.vscode
/backend/*.h5
/backend/*.json
/medichat/logs
/medichat/*.log
/medichat/npm-debug.log*
/medichat/yarn-debug.log*
/medichat/yarn-error.log*
/medichat/pnpm-debug.log*
/medichat/lerna-debug.log* 
/medichat/node_modules
/medichat/dist
/medichat/dist-ssr
/medichat/*.local 
/medichat/.vscode/*
/medichat/!.vscode/extensions.json
/medichat/.idea
/medichat/.DS_Store
/medichat/*.suo
/medichat/*.ntvs*
/medichat/*.njsproj
/medichat/*.sln
/medichat/*.sw?

/medichat/node_modules
/medichat/.pnp
/medichat/.pnp.js
/medichat/coverage
/medichat/.next/
/medichat/out/
/medichat/build
/medichat/.DS_Store
/medichat/*.pem
/medichat/npm-debug.log*
/medichat/yarn-debug.log*
/medichat/yarn-error.log*
/medichat/.env*.local
/medichat/.vercel
/medichat/*.tsbuildinfo
/medichat/next-env.d.ts
